@charset "UTF-8";
@import "mysite.css";

.tbl-ex{
	width:350px;
	margin:10px auto;
	border-collapse:collapse;
	border-bottom:2px solid #333;
	border-left:2px
}

.tbl-ex th {
	text-align:center
}
.tbl-ex td {
	padding:7px;
	text-align:left
}

.tbl-ex td.left{
	text-align:left
}
.tbl-ex th {
	border-top:2px solid #333;
	border-bottom:2px solid #333;
	background-color:#999;
	font-size:1.1em;
	color:#fff
}